<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title"> Software Developer</h3>
        <div class="time"> March 2018 - July 2018 </div>
      </div>
      <!--//upper-row-->
      <div class="company"> Twenty Ideas, Eugene, OR </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        At Twenty Ideas, I had the opportunity to alongside talented developers and designers to create enjoyable software
        experiences for a variety of projects and clients. The projects ranged from data collection and analysis, web and mobile
        development, machine learning, and game development.
      </p>
      <p>
        During my time, I worked with several different tech stacks depending on the needs of the projects. For web development
        projects, I used React/Typescript and Kotlin/Spring Boot. For machine learning, I worked with the 
        <a href="https://github.com/analyticspot/anx-ml" target="_blank">Analytic Spot machine learning framework</a> and Apache
        Spark for data processing and classification. For web and mobile development projects, I used Ionic, Angular and Typescrip
        to create cross-platform applications.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title"> Software Developer </h3>
        <div class="time"> July 2017 - March 2018 </div>
      </div>
      <!--//upper-row-->
      <div class="company"> Comcast, Reston, VA </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        I worked with the Video Acquisition Deployment Engineering and Research (VADER) team at Comcast, where I provided support
        for the ingest and delivery of video content, which comes in the form of legacy QAM, IP, and MPEG video formats.
      </p>
      <p>
        My role consisted of compiling data and creating tools to handle the asset payload, and monitor the health and status of 
        the infrastructure that handles the storage and transcoding of video content. These tools are written in Java and Ruby, 
        and they communicate with the data services that handle content delivery. I also communicated with content providers on 
        issues that they were having with the technologies that the team was using.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title"> Web Developer </h3>
        <div class="time"> May 2017 - August 2017 </div>
      </div>
      <!--//upper-row-->
      <div class="company"> UVA School of Architecture, Charlottesville, VA </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        I worked alongside a graduated Architecture student to develop The Material Exchange, a platform for Architecture students
        to buy, sell, or exchange their leftover project material to other students. The project was done as an effort to promote 
        ecological sustainability within the Architecture school to tackle the issue of unused paper and project materials 
        leftover after each semester.
      </p>
      <p>
        The platform utilized the Django REST Framework for the backend, and  React.js was used for the frontend. The system
        was deployed with Heroku services, and Circle CI was used for continuous integration.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->
</section>
<!--//section-->
