<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Software Developer
        </h3>
        <div class="time">
          July 2017 - Present
        </div>
      </div>
      <!--//upper-row-->
      <div class="company">
        Comcast, Reston, VA
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        I am currently working with the Video Acquisition Deployment
        Engineering and Research (VADER) team at
        Comcast, where I am providing support for the ingest and delivery of
        video content, which come in the
        form of legacy QAM, IP, and MPEG video format.
      </p>
      <p>
        My role consists of compiling data and creating tools to handle the
        asset payload, and monitor the health
        and status of the infrastructure that handles the storage and
        transcoding of video content. These tools
        are written in Java and Ruby, and they communicate with the data
        services that handle content delivery.
        I also communicate with content providers on issues that they are
        having with the workflows and technologies
        that the team is using.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">
          Web Developer
        </h3>
        <div class="time">
          May 2017 - August 2017
        </div>
      </div>
      <!--//upper-row-->
      <div class="company">
        UVA School of Architecture, Charlottesville, VA
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        I worked alongside a graduated Architecture student to develop
        <a href="https://github.com/champagneabuelo/the-material-exchange"
           target="_blank">The Material Exchange</a>,
        a platform for Architecture students to buy, sell, or exchange their
        leftover project material to other students.
        The project was done as an effort to promote ecological sustainability
        within the Architecture school,
        as there is a lot of unused paper and composite material after each
        semester.
      </p>
      <p>
        The platform utilized the Django REST Framework and Python libraries
        for back-end services
        (i.e. JWT authentication, request handling). React.js and JavaScript
        libraries were used for front-end
        services (i.e. user interface, form handling/submission). The system
        was deployed with Heroku services,
        and the stability of the system was tested using Circle CI tools.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->
</section>
<!--//section-->
