<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects and
    Coursework</h2>
  <div class="intro">
  </div>
  <!--//intro-->
  <div class="item">
    <span class="project-title">
      <a href="http://www.avpmusic.co/"
         target="_blank">
        Academical Village People Website
      </a>
    </span> -
    <span class="project-tagline">
      Redesigned and deployed a new Django website for the Academical Village
      People that allowed for content
      management and e-commerce operations. Switching to the Heroku deployment
      system also saved the group $150
      per year in hosting costs.
    </span>
  </div>
  <!--//item-->
  <div class="item">
    <span class="project-title">
      <a href="https://github.com/champagneabuelo/service-learning-practicum"
         target="_blank">
        Service Learning Practicum
      </a>
    </span> -
    <span class="project-tagline">
      Implemented a data management system for Georgia's Healing House, a
      non-profit organization in
      Charlottesville, VA, alongside five other senior students. The system
      utilized the Django framework and other
      Python libraries for statistical analysis and display.
    </span>
  </div>
  <!--//item-->
  <div class="item">
    <span class="project-title">
      <a href="https://github.com/champagneabuelo/android-final-project"
         target="_blank">
        Mobile Application Development
      </a>
    </span> -
    <span class="project-tagline">
      Developed <i>Move-N-Groove</i>, an Android application that utilized the
      Spotify API to stream playlists based
      on the user's environment and movement. This data was taken from the
      device peripherals and GPS location.
    </span>
  </div>
  <!--//item-->
</section>
<!--//section-->